.box {
  position: relative;
  opacity: 0.5;
}


.donut {
  height: 780px !important;
}

.box-and-image {
  display: flex;
}

.box, .box3 {
  width: 100%;
  background-color: currentColor;
  height: auto;
}

.box3 {
  position: relative;
}

.donut-text, .nomz {
  color: white;
  position: absolute;
  bottom: 0;
  font-size: 70px;
}

.nomz {
  left: 280px;
}
/*
.onepage-pagination {
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding: 0;
}
*/
